name: Build and Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build pyinstaller
          pip install .

      - name: Read version from pyproject.toml
        id: version
        shell: bash
        run: |
          VERSION=$(python -c "import tomllib; print(tomllib.load(open('pyproject.toml','rb'))['project']['version'])")
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
      
      - name: Validate version tag
        shell: bash
        run: |
          VERSION="${{ steps.version.outputs.version }}"

          echo "Checking version: '$VERSION'"

          if [[ -z "$VERSION" ]]; then
            echo "❌ Version is empty"
            exit 1
          fi

          if [[ ! "$VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "❌ Version '$VERSION' is not valid semver (X.Y.Z)"
            exit 1
          fi

          echo "✅ Version format looks correct"

      - name: Build wheel
        run: python -m build

      - name: Build standalone EXE (to exe dir)
        run: |
          pyinstaller --onefile --name VivaldiWorkspaceDesktop-v${{steps.version.outputs.version}} src/vivaldi_workspace_desktop_mover/__main__.py
          mkdir exe
          move dist\*.exe exe\
      
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: |
            dist/
            exe/


  release:
    needs: build

    permissions:
      id-token: write
      contents: write


    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-files
          path: .

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: Create Github release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*.whl
            exe/*.exe
          tag_name: "v${{steps.version.outputs.version}}"
